runs/*
*.pyc
marl/models/*
marl/__pycache__/*

game/__pycache__/__init__.cpython-36.pyc
game/__pycache__/__init__.cpython-36.pyc
game/__pycache__/agents.cpython-36.pyc
game/__pycache__/envs.cpython-36.pyc
game/__pycache__/__init__.cpython-36.pyc
game/__pycache__/__init__.cpython-36.pyc
game/__pycache__/agents.cpython-36.pyc
game/__pycache__/envs.cpython-36.pyc
marl/__pycache__/__init__.cpython-36.pyc
marl/__pycache__/iql_model.cpython-36.pyc
marl/__pycache__/iql.cpython-36.pyc
